.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display: inline;     /* for IE7*/
    *zoom:1;              /* for IE7*/

}

.nav-tabs {
    text-align:center;
}