<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.slim.min.js') }}"></script>
    {% from "_macro.html" import render_form %}
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">          
          <!-- Icon -->
          <div class="fadeIn first">
            <!--Close Icon-->
            <a type="button" class="close" id="closeButton" aria-label="Close" role="button" href="login">
              <span aria-hidden="true">&times;</span>
            </a>
            <img src="{{ url_for('static', filename='img/logo_ver.png') }}" id="icon" alt="User Icon" />
          </div>

          <!-- Tabs Titles -->
            <h4 class='fadeIn second'>Agregue nuevo usuario</h1>
      
          <!-- Create Form -->
          <form id="createForm" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >
            {{ render_form(form.username, class='fadeIn third', type='text', placeholder="Nombre de usuario" ) }}
            {{ render_form(form.password, class='fadeIn fourth', type='password', placeholder="Contraseña" ) }}
            <div class="form-check">                
                {{ render_form(form.admin, type="checkbox", class="form-check-input", default="checked",id="isAdmin")}}
                <label class="form-check-label" for="exampleCheck1">Administrador</label>
              </div>
            <input type="submit" class="fadeIn fith" value="Crear">
          </form>
        </div>
      </div>
</body>
</html>