<!DOCTYPE html>
<html lang="en">

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>
    {% from "_macro.html" import render_form %}
</head>

<body>
    {% with message = get_flashed_messages() %}
        {% if message %}
            {{ message[0] }}
        {% endif %}
    {% endwith %}
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="{{ url_for('static', filename='img/logo_ver.png') }}" id="icon" alt="User Icon" >
            </div>

            <!-- Login Form -->
            <form id="loginForm" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >
                {{ render_form(form.username, class='fadeIn second', type='text', placeholder="Usuario" ) }}
                {{ render_form(form.password, class='fadeIn third', type='password', placeholder="Contraseña" ) }}
                <input type="submit" class="fadeIn fourth" value="Log In" >
            </form>
        </div>
    </div>
</body>

</html>