<html lang="en">

<head>
    <title>Control banco de fatiga</title>


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/3.4/examples/jumbotron-narrow//jumbotron-narrow.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>        
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/panel.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/panel.js') }}"></script>
    {% from "_macro.html" import render_form %}

</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <li role="presentation"> {{ message }} </li> &nbsp;
                    {% endfor %}
                    {% endif %}
                    {% endwith %}

                    {% if admin %}
                    <li role="presentation"><a href="create"> Crear usuario </a>
                    </li>&nbsp;
                    {% endif %}

                    <li role="presentation"><a href="logout"> Cerrar sesión </a>
                    </li>
                </ul>
            </nav>
            <div class="row">
                <h3 class="col text-muted" text-align="bottom">Control banco de fatiga</h3>
                <img src="{{ url_for('static', filename='img/logo_hor.png') }}" width="150" class="my-4">
            </div>
        </div>

        <div class="jumbotron">
            <h1>Lista de Acciones</h1>
            <form name="panelAcciones" id="cyclesForm" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="container">
                    <ul class="nav nav-tabs">
                        <li >
                            <div data-toggle="tab">
                                {{ render_form(form.cyclesForm.cycles, class='form-control', type='number', placeholder=form.cyclesForm.cycles.id ) }}
                            </div>
                            <!-- Modal Confirmación marcha-->
                            <div class="modal fade" id="marchaModal" tabindex="-1" role="dialog"
                                aria-labelledby="marchaModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">¿Poner en marcha?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cancelar</button>
                                            <a>{{ render_form(form.cyclesForm.submit, id='btnAceptarMarcha', class='btn btn-primary', value='Aceptar') }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <li>
                            <div data-toggle="tab">
                                <h2 id="current-cycle">{{current_cycles}}</h2>
                            </div>
                        </li>
                        <li>
                            <div data-toggle="tab">
                                <h2>/</h2>
                            </div>
                        </li>
                        <li>
                            <div data-toggle="tab">
                                <h2 id="num-cycles">{{cycles}}</h2>
                            </div>
                        </li>
                    </ul>
                </div>
                <p class="lead"></p>
                <p>
                    <button type="button" class="btn btn-lg btn-success" data-toggle="modal"
                        data-target="#marchaModal">Marcha</button>
                    <a>{{ render_form(form.actionsForm.stop, id='btnStop', class='btn btn-lg btn-danger', value='Paro') }}</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a>{{ render_form(form.actionsForm.reset, id='btnReset', class='btn btn-lg btn-primary', value='Reset') }}</a>
                </p>

            </form>
        </div>

        <footer class="footer">
            <p>&copy; Soltec Innovations 2019</p>
        </footer>

    </div>

    </div>

</body>

</html>